menu "Sensor configuration"

config SENSOR_SAMPLING_PERIOD_MS
    int "Período de muestreo del sensor (ms)"
    default 3000
    help
        Intervalo entre lecturas consecutivas del sensor de temperatura y humedad.
        Valor en milisegundos.

endmenu

