menu "ICM configuration"
        config ICM_PERTURBATION_THRESHOLD
                string "Umbral de detección de perturbación (G)"
                        default "0.4"
                        help
                            Define la sensibilidad para detectar movimientos bruscos (ej. "0.4").
                            Use un punto para los decimales. 
                            Valores menores aumentan la sensibilidad.
endmenu
