menu "SHT3C Configuration"
        orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"
           
        config SHT3C_READ_INTERVAL
                int "Periodo de lectura del sensor (segundos)"
                range 1 3600
                default 5
                help
                    Define cada cuántos segundos se tomará una lectura de temperatura y humedad.
                    
        config SHT3C_AVG_SAMPLES
                int "Número de muestras para la media"
                range 1 100
                default 10
                help
                    Define cuántas de las últimas lecturas se utilizarán para calcular el promedio.
endmenu
